@CHARSET "UTF-8";

.menu-bar {
	color: white;
	background-color:#719632;
}

a.menu-nav {
	color: white;
	background-color:blue;
}

div.side-bar{
	background-color:#8ae234;
}


div.exercice {
	font-family:    Times New Roman, Times, serif;
    font-size:      17px;
    overflow: auto;  
    height: 200px;
}